.badge-bg {
    background-color: rgba(253, 247, 230, 0.2); // 遮罩層
    backdrop-filter: blur(2px);
}

.text-yellow-300 {
    color: #f1cc5a;
}

.text-green-300 {
    color: #5fd0ab;
}

.text-fav-400 {
    color: #ed4d4d;
}