.bg-neutral-700 {
  background-color: #090C10;
}

.qa-section {
  /* ????Padding (Figma: 80px) */
  padding-top: 80px;
  padding-bottom: 80px;

  @include media-breakpoint-up(lg) {
      /* 獢???Padding (Figma: 160px) */
      padding-top: 160px;
      padding-bottom: 160px;
  }
}

/* ?芸?蝢?Swiper ????????(?身?航??莎??寞?閮剛?蝔輻?鈭株) */
:global(.swiper-pagination-bullet) {
  background: #fff;
  opacity: 0.5;
}

:global(.swiper-pagination-bullet-active) {
  background: #00E5FF;
  /* 雿?銝餉隤?*/
  opacity: 1;
}

/* ?? ?啣??挾嚗圾瘙箏??摨虫?銝?渡??? */
.swiper-wrapper {
  /* 蝣箔?憭惜摰孵??Flex嚗見 Slide ???寞??批捆?芸???擃漲 */
  align-items: stretch;
}

.swiper-slide {
  height: auto;
  /* ?嚗身摰?auto 霈??芸?頝?擃????? */
}

@include media-breakpoint-up(lg) {
  .qa-section .qa-title {
      align-items: end;
  }

  .qa-section .qa-title h2 {
      font-size: 40px;
      line-height: 48px;
  }
}

.glow-title {
  /* text-shadow 隤?: X?宏 Y?宏 璅∠??? 憿 
  撠? Figma: X=0, Y=0, Blur=16, Color=#4EDCF1
  */
  text-shadow: 0px 0px 16px #4EDCF1;

  /* 憒?閬箏??澆?銝?撘瘀??臭誑???拙惜 (撠振?撌? */
  /* text-shadow: 0 0 16px #4EDCF1, 0 0 30px rgba(78, 220, 241, 0.5); */
}
