.IndexTop-title {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.2;
  color: #fff;
}

.IndexTop-title-span {
  text-shadow: 0 0 16px #4EDCF1;
}

@media (max-width: 768px) {
  .IndexTop-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
  }
}