@import "../../assets/scss/base.scss";

.EditProfile-container {
  max-width: 636px;
}

.EditProfile-input {
  border: 1px solid $color-neutral-400;
  padding: 12px;
  border-radius: 12px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    border-color: $color-primary-600;
  }

  &:focus {
    border-color: $color-primary-600;
    box-shadow: 0 2px 30px 0 rgba($color-primary-200, 0.3);
    background: $color-neutral-500;
    color: $color-neutral-50;
    outline: none;
  }
}