//navbar
.form-control::placeholder {
  color: #909294;
  /* 你想要的顏色 */
  opacity: 1;
  /* 預設有透明度，建議設為 1 */
}

//搜尋框
// .search-span{
//   border-top: 1px solid #3d4145;
//   border-left: 1px solid #3d4145;
//   border-bottom: 1px solid #3d4145;

// }
// .search-input{
//   border-top: 1px solid #3d4145;
//   border-right: 1px solid #3d4145;
//   border-bottom: 1px solid #3d4145;
//   border-left: 0px solid #000;
// }
// .search-input:focus{
//     background-color: #0d1117;
//     color:#909294;
//     box-shadow: 2px 2px 20px 0 rgba(78, 220, 241, 0.5);
// }

//登入註冊按鈕
.auth-btn:hover {
  background-color: #4edcf1;
  box-shadow: 2px 2px 20px 0 rgba(78, 220, 241, 0.5);
}

//Link
.navbar-link {
  display: block;
  color: #e7e7e8;
}

.navbar-link:hover {
  color: #22d3ee;
}

/* 自定義聚焦效果 */
.custom-search-group {
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: 1px solid #3D4145;
  /* 預設邊框顏色 */
  border-radius: 12px;
  width: 324px;
}

/* 當內部的 input 聚焦時，改變整個群組的邊框 */
.custom-search-group:focus-within {
  // border-color: #0d6efd; /* 這裡換成你想要的顏色，例如 Bootstrap primary */
  // box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  border-color: #1FC0D9;
  box-shadow: 0 2px 30px 0 rgba(#1FC0D9, 0.3); // X Y Blur Spread Color
}

/* 移除 input 本身預設的聚焦外框，讓視覺統整在 group 上 */
.custom-search-group .form-control {
  border: 0px;
  border-radius: 12px;
  background: #0d1117;
}

.custom-search-group .form-control:focus {
  box-shadow: none;
  color: #E7E7E8;
}

.custom-search-group .input-group-text {
  background-color: #0D1117;
  border-radius: 12px;
  border: none;
  padding-right: 0;
}

//漢堡選單
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* 當選單展開時的樣式 */
.navbar-collapse.show {
  height: 100vh;
  /* 佔滿全螢幕高度 */
  width: 100vw;
  /* 佔滿全螢幕寬度 */
  position: fixed;
  /* 固定位置 */
  top: 0;
  left: 0;
  z-index: 1000;
  /* 確保在最上層 */
  background-color: #000;
  /* 設定背景顏色，否則會透明 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* 讓選單文字垂直置中 */
  align-items: center;
  /* 讓選單文字水平置中 */
}

/* 為了讓「關閉鈕」或「導覽列標題」能被看到，可能需要調整 navbar 結構 */
.navbar {
  position: relative;
}

.navbar-toggler {
  z-index: 1001;
  /* 比選單內容更高 */
  position: relative;
}